<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles de Carro</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <h1>Detalles de Carro</h1>
    <p><strong>Id:</strong> <%= carro.id %></p>
    <p><strong>Marca:</strong> <%= carro.marca %></p>
    <a href="/habitacion27">Volver a la lista</a>
</body>
</html>